<tbody>
        <tr v-for="item of meds" :key="item.id">
          <td>{{item.nombre}}</td>
          <td>{{item.mg}}</td>
          <td>{{item.mod}}</td>
          <td>{{item.expira}}</td>
          <td>
            <div class="buttons is-centered">
              <router-link :to="{name: 'editar', params:{id: item.id}}">
                <button class="button is-danger is-outlined" @click="deleteMed(item.id)">Borrar</button>
                <button class="button is-secondary">Editar</button>
              </router-link>
            </div>
          </td>
        </tr>
      </tbody>